<!-- Start responsive Table-->
<div class="white-box">
    <div class="layui-tab">
        <ul class="layui-tab-title">
         {foreach $type as $k=>$v}
          {eq name="t_id" value="$k"}
            <li class="layui-this">{$v}</li>
          {else /}
            <li><a href="{:url('',['t_id'=>$k])}">{$v}</a></li>
          {/eq}
         {/foreach}
        </ul>
    </div>
    <form method="post" action="{:url('delete')}">
        <input type="hidden" name="t_id" value="{$t_id}">
        <table class="layui-hide" lay-filter="table">
            <thead>
            <tr>
                <th lay-data="{field:'LAY_CHECKED',type: 'checkbox', fixed: 'left'}"></th>
                <th lay-data="{field:'id', title: 'ID', width:80,  sort: true, fixed: 'left'}">ID</th>
                <th lay-data="{field:'name'}">{:lang('sys_item')['name']}</th>
                <th lay-data="{field:'describe'}">{:lang('sys_item')['describe']}</th>
                <th lay-data="{field:'val'}">{:lang('sys_item')['val']}</th>
                <th lay-data="{field:'operate',fixed:'right',width:100}">{:lang('operation')}</th>
            </tr>
            </thead>
            <tbody>
            {foreach $list as $k=>$v }
            <tr>
                <td></td>
                <td>{$v.id}</td>
                <td>{$v.name}</td>
                <td>{$v.describe}</td>
                <td>{$v.val}</td>
                <td>
                    <a href="{:url('edit',['id'=>$v.id])}"><i class="fa fa-edit text-warning"></i></a>
                    {neq name="v.is_sys" value="$Think.IS_SYS"}
                    <a lay-event="del" href="#"><i class="fa fa-trash-o text-danger"></i></a>
                    {/neq}
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
    </form>
</div>
<!-- End responsive Table-->
<!--End main content -->