<div class="row">
    <div class="white-box">
        <div class="layui-tab">
            <ul class="layui-tab-title">
                {foreach $type as $k=>$v}
                {eq name="t_id" value="$k"}
                <li class="layui-this">{$v}</li>
                {else /}
                <li><a href="{:url('',['t_id'=>$k])}">{$v}</a></li>
                {/eq}
                {/foreach}
            </ul>
        </div>
    {present name="list"}
        <form class="b_from" method="post" action="{:url('seeSave')}">
            <input type="hidden" name="t_id" value="{$t_id}">
            {:token()}
            {foreach $list as $k=>$data}
            <div class="form-group">
                <label class="col-md-2 control-label">{$data.label}</label>
                <div class="col-md-5">
                {switch $data.type}
                 {case date|time|date-range|time-range}
                    {:action("common/Base/formItem",['template'=>$data.type,'data'=>$data])}
                 {/case}
                 {default /}
                    {:action("common/Base/formItem",['template'=>'input','data'=>$data])}
                {/switch}
                </div>
                {notempty name="data.notes"}
                <div class="text-muted col-md-5">
                    <i class="fa fa-info-circle color-info1"></i> {$data.notes}
                </div>
                {/notempty}
            </div>
            {/foreach}
            {include file="common@field/edit-btn" /}
        </form>
     {else /}
        <p class="text-center text-muted">{:lang('data_empty')}</p>
     {/present}
    </div>
</div>
{include file="common@vail_form" /}