<!--Start row-->
<div class="row">
    <div class="white-box">
        <div class="text-danger col-md-offset-1 col-md-5 m-b-20">
            <p>{:lang('pass_empty_info')}</p>
            <p>{:lang('admin_user')['name_takeeffect']}</p>
        </div>
        <form class="b_from" method="post" action="{:url('save')}">
            <input type="hidden" name="id" value="{$data.id|default=0}">
            {:token()}
            <div class="form-group">
                <label class="col-md-2 ">{:lang('admin_user')['name']} <span class="red">*</span></label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="name" value="{$data.name|default=''}"  />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 ">{:lang('pass')} </label>
                <div class="col-md-5">
                    <input type="password" class="form-control" name="pass"  autocomplete="off" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 ">{:lang('pass2_text')}</label>
                <div class="col-md-5">
                    <input type="password" class="form-control" name="pass2" autocomplete="off" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 ">{:lang('tit_admin_role')} <span class="red">*</span></label>
                <div class="col-md-5">
                    <select name="r_id" class="form-control">
                        <option selected value="0">{:lang('role_select')}</option>
                        {foreach $role as $k=>$v }
                        <option value="{$k}" {eq name="k" value="$data.r_id|default=0"} selected {/eq}>{$v}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            {include file="common@field/edit-btn" /}
        </form>
    </div>
</div>
<!--表单验证插件-->
{include file="common@vaildator" /}
<script>

</script>
