{php}
if(empty($data['field_name'])){
    $data['field_name']='icon';
}
{/php}
<input class="form-control icp icp-auto" value="{$data[$data.field_name]|default='fa-circle-o'}" name="{$data.field_name}"  type="text"/>
<span class="input-group-addon"><i class=""></i></span>
<link href="/static/css/fontawesome-iconpicker.min.css" rel="stylesheet">
<script src="/static/awesome-icon/js/fontawesome-iconpicker2.js"></script>
<style>
    .popover-content .nav-tabs > li > a{
        padding: 10px 20px;
    }
    .iconpicker .iconpicker-items{
        max-height: 200px;
    }
    .input-group-addon{
        position: absolute;
        top: 1px;
        padding: 0px;
        width: 40px;
        height: 38px;
        right: 16px;border:none;border-left:1px solid #ccc;
        text-align: center;
        line-height: 40px;
    }
    .iconpicker-items>a{
        text-decoration:none;
    }
    .iconpicker-items>a>.layui-icon{
        top:6px;
    }
    .iconpicker .iconpicker-item.iconpicker-selected{
        /*#286090 #276fad*/
        background: #276fad;
    }
    /* 如果使用远程，请自行调整图标容器宽度*/
    .iconpicker{height:205px;}
    .iconpicker-popover.popover{width:290px;}
</style>
<script type="text/javascript">
    // 图标可以点击选中 icp-auto 操作图标元素
    $('.icp-auto').iconpicker({
        title: '请选择一个图标',
        tab:true, //定义tab 选项 true(fa)  glyphicon fa  layui-icon
        fullClassFormatter: function(val){
            if(val.match(/fa-/)){
                return 'fa '+val;
            }else if(val.match(/glyphicon-/)){
                return 'glyphicon '+val;
            }else {
                return 'layui-icon '+val;
            }
        },
        component: '.input-group-addon', // 图标存放容器
        placement: 'bottomRight',  // 图标容器位置
    });
</script>