{php}
if(empty($value))$value=''
{/php}
<div class="checkbox">
    {foreach $data as $k=>$v}
    {if($k==$value) || (!empty($select_data) && is_array($select_data) && in_array($k,$select_data))}
    <input type="checkbox" name="{$name|default=''}" class="{$class|default=''}" {$extra|default=''} value="{$v}" checked>
    <label>{$v}</label>
    {elseif(!empty($disable_data) && is_array($disable_data) && in_array($k,$disable_data)) /}
    <input type="checkbox" name="{$name|default=''}" class="{$class|default=''}" {$extra|default=''} value="{$v}" disabled>
    <label>{$v}</label>
    {else /}
    <input type="checkbox" name="{$name|default=''}" class="{$class|default=''}" {$extra|default=''} value="{$v}">
    <label>{$v}</label>
    {/if}
    {/foreach}
</div>