<div class="form-group">
    <label class="col-md-2 control-label">{:lang('is_menu_text')}</label>
    <div class="col-md-5 radio m-t-5">
        {present name="data.is_menu"}
        <input type="radio" name="is_menu"  value="{$Think.IS_MENU}" {eq name="data.is_menu" value="$Think.IS_MENU"}checked{/eq}>
        <label>{:lang('is_yes')}</label>
        <input type="radio" name="is_menu"  value="0"  {eq name="data.is_menu" value="0"}checked{/eq}>
        <label >{:lang('is_no')}</label>
        {else /}
        <input type="radio" name="is_menu"  value="{$Think.IS_MENU}" >
        <label>{:lang('is_yes')}</label>
        <input type="radio" name="is_menu"  value="0"  checked>
        <label >{:lang('is_no')}</label>
        {/present}
    </div>
</div>