<div id="simple_editor" type="text/plain"  name="{$name|default='simple_editor'}" class="{$class|default=''}" {$extra|default=""}>{$value}</div>
<script>
    //实例化编辑器 // 此处必须是ID
    var ue = UE.getEditor('simple_editor', {
        toolbars: [
            ['fullscreen', 'source', 'undo', 'redo','bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc','simpleupload']
        ]
    });
    var value="{$value|default=''}";
    //对编辑器的操作最好在编辑器ready之后再做
    ue.ready(function() {
        //设置编辑器的内容
        ue.setContent(value);
        //获取html内容，返回: <p>hello</p>
        var html = ue.getContent();
        //获取纯文本内容，返回: hello
        var txt = ue.getContentTxt();
    });
</script>