<div id="simple_editor" type="text/plain"  name="{$name|default='simple_editor'}" class="{$class|default=''}" {$extra|default=""}>{$value}</div>
<script>
    //实例化编辑器 // 此处必须是ID
    var ue = UE.getEditor('simple_editor', {
        toolbars: [
            ['fullscreen', 'source', 'undo', 'redo','bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc','simpleupload']
        ]
    });
</script>