<!--加载样式-->
{notempty name="form.field_data"}
    {foreach $form.field_type as $k=>$v}
        {switch $k}
        {case lay_icon}
        <link href='/static/css/lay_icon.css' rel='stylesheet'>
        {/case}
        {case all_icon}
        <link href='/static/css/fontawesome-iconpicker.min.css' rel='stylesheet'>
        <link href='/static/css/all_icon.css' rel='stylesheet'>
        <script src='/static/awesome-icon/js/fontawesome-iconpicker2.js'></script>
        {/case}
        {case editor}
        <link rel="stylesheet" href="/static/kindeditor/themes/default/default.css" />
        <script charset="utf-8" src="/static/kindeditor/kindeditor-all.js"></script>
        <script charset="utf-8" src="/static/kindeditor/lang/zh-CN.js"></script>
        {/case}
        {/switch}
    {/foreach}
{/notempty}
<div class="row">
    <div class="white-box">
    {notempty name="tab_nav.data"}
    <div class="layui-tab {$tab_nav.class|default=''}"  {$tab_nav.extra|default=''} >
        <ul class="layui-tab-title">
            {foreach $tab_nav.data as $k=>$v}
                {eq name="tab_nav.value" value="$k"}
                    <li class="layui-this">{$v}</li>
                {else /}
                    {if is_array($tab_nav.href)}
                    <li><a href="{$tab_nav.href[$k]}">{$v}</a></li>
                    {elseif $tab_nav.href=='#' /}
                    <li><a href="{:url('#'.$k)}">{$v}</a></li>
                    {else /}
                    <li><a href="{:url('',[$tab_nav.href=>$k])}">{$v}</a></li>
                    {/if}
                {/eq}
            {/foreach}
        </ul>
    </div>
    {/notempty}
    {notempty name="form.field_data"}
    <form method="{$method|default='get'}" class="b_from" action="{$action|default=''}" {$form_extra|default=''}>
        {present name='token'}
            {:token($token)}
        {/present}
        {notempty name='hidden_data'}
            {foreach $hidden_data as $data}
                <input type="hidden" name="{$data.name|default=''}" value="{$data.value|default=''}">
            {/foreach}
        {/notempty}
        {foreach $form.field_data as $k=>$data}<!--表单字段开始-->
        <div class="form-group">
            <label class="col-md-2 control-label text-muted">{$data.label|default=''}</label>
            <div class="col-md-5">
                {switch $data.field_type}
                {case date|time|date_range|time_range|select|select_multiple|radio|checkbox|checkbox_multiple|lay_icon|all_icon|simple_editor|all_editor}
                {:action("common/Base/formItem",['template'=>$data.field_type,'data'=>$data])}
                {/case}
                {default /}
                {:action("common/Base/formItem",['template'=>'input','data'=>$data])}
                {/switch}
            </div>
            {notempty name="data.notes"}
            <div class="text-muted col-md-5">
                <i class="fa fa-info-circle color-info1"></i> {$data.notes}
            </div>
            {/notempty}
        </div>
        {/foreach} <!--表单字段结束-->
        <!--表单按钮开始-->
        {empty name='form.button_data'}
            {include file="common@field/edit_btn" /}
        {else /}
            {foreach $button_data as $k=>$data}
                {notempty name="data"}
                    <input type="{$data.type}" class="btn btn-primary {$data.class|default=''}"  value="{$data.value|default=''}">
                {/notempty}
            {/foreach}
        {/empty}
        <!--表单按钮结束-->
    </form>
    {else /}
    <p class="text-center text-muted">{:lang('data_empty')}</p>
    {/notempty}
    </div>
</div>
{$extra_html|default=''}