<!--Start row-->
<style>
    .panel-title span{display: block;  float: left; width:19%;  white-space: nowrap;}
    .panel-title span:first-child{margin-left:10px; width: 10% }
    .panel-title span:last-child{ text-align: right;}
    .input-daterange input{width:40%; display: inline}
    .form-group [class^="col-md"],.form-group [class^="col-md"] select,.form-group [class^="col-md"] input,.form-group [class^="col-md"] span{ height: 40px;}
    @media screen and (max-width: 1100px) {
        .form-group .col-md-5,.form-group .col-md-4{ padding: 0px !important; margin-bottom: 5px;}
    }
    @media screen and (max-width: 500px) {
        .panel-title span{ width: auto; margin-right: 4%;}
    }
    a[data-toggle="collapse"]::before {
        content: '\f107';
        font-family: 'FontAwesome';
        font-size: 18px;
        text-align: right;
    }
</style>
<div class="white-box">
    {:action("common/Base/includePage",['template'=>'search','data'=>$search])}
      <form method="post" action="{:url('delete')}">
        <table class="layui-hide" lay-filter="table" >
            <thead>
            <tr>
                <th lay-data="{field: 'LAY_CHECKED',type: 'checkbox', fixed: 'left'}"></th> 
                <th lay-data="{field: 'id', title: 'ID', width:80,  sort: true, fixed: 'left'}">ID</th>       
                <th lay-data="{field:'uid', width:120}">{:lang('log_operate')['uid']}</th>
                <th lay-data="{field:'behavior',width:120}">{:lang('log_operate')['behavior']}</th>
                <th lay-data="{field:'details'}">{:lang('log_operate')['details']}</th>
                <th lay-data="{field:'t',width:170, sort: true}">{:lang('log_operate')['t']}</th>
                <th lay-data="{field:'operate',fixed: 'right',width:100, align:'center'}">{:lang('operation')}</th>
            </tr>
            </thead>
            <tbody>
            {foreach $list as $v}
            <tr>
                <td></td>
                <td>{$v.id}</td>
                <td>
                    {present name="name[$v.uid]"}
                        {$name[$v.uid]}
                    {else /}
                        {:lang('log_user_del',[$v.uid])}
                    {/present}
                </td>
                <td>
                    {present name="behavior[$v.behavior]"}
                        {$behavior[$v.behavior]}
                    {else /}
                        {:lang('not_module')}
                    {/present}
                </td>
                <td>{$v.details} </td>
                <td>{$v.t} </td>
                <td><a lay-event="del" href="#" ><i class="fa fa-trash-o text-danger"></i></a></td>
            </tr>
            {/foreach}
            </tbody>
        </table>
    </form>
    <nav aria-label="Page navigation" class="text-center">
        {$list|raw}
    </nav>
</div>
<!--End row-->
{include file="common@com_js" /}<!-- 公共-->
<script>
    let operateToolbar=['delete'];
</script>