<!--底部插件-->
<style>
/*icon 图标样式与验证插件冲突特别处理*/
#icon_class_vali.has-error .control-label
{color: #333 !important;}
#icon_class_vali.has-error .form-control{border-color: #c5bebe; !important;}
#icon_class_vali.has-error .input-group-addon {
    color: #333 !important;
    background-color: #eee;
    border-color:#c5bebe !important;
}
#icon_class_vali input:focus{border-color:#66afe9 !important;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}
</style>
<script>
    // 去掉所有input的autocomplete, 显示指定的除外 
    $('input:not([autocomplete]),textarea:not([autocomplete]),select:not([autocomplete])').attr('autocomplete', 'off'); 

    // 时间插件 layui中窗口过小导致日期控件显示不出来（一闪而过）问题解决
    if($('.laydate').length>0){
        layui.use('laydate', function() {
            var laydate = layui.laydate;

            lay('.date').each(function() {
                laydate.render({
                    elem : this,
					trigger: 'click' //采用click弹出
                });
            });

            lay('.time').each(function() {
                laydate.render({
                    elem : this,
                    type: 'time',
					trigger: 'click' //采用click弹出
                });
            });

            lay('.time_range').each(function() {
                laydate.render({
                    elem : this,
                    type: 'time',
                    range: true,
					trigger: 'click' //采用click弹出
                });
            });

            lay('.date_range').each(function() {
                laydate.render({
                    elem : this,
                    range: true,
					trigger: 'click' //采用click弹出
                });
            });

            // 2个输入框的时间选择器
           /* if(($('#t_start').length>0) && ($('#t_end').length>0)){
                laydate.render({
                    elem: '#t_start',
                });
                laydate.render({
                    elem: '#t_end',
                });
            }*/
        });
    }

    // all_icon 选择器
    if($('.icp-auto').length>0){
		$('#icon_class_vali').removeClass('has-error');
	
        // 图标可以点击选中 icp-auto 操作图标元素
		var icon;
        $('.icp-auto').iconpicker({
            title: '请选择一个图标',
            tab:true, //定义tab 选项 true(fa)  glyphicon fa  layui-icon
            fullClassFormatter: function(val){
                if(val.match(/^fa-/)){
					icon='fa '+val;   
                }else if(val.match(/^glyphicon-/)){
					icon='glyphicon '+val;
                }else {
					icon='layui-icon '+val;
                }
				return icon;
            },
            component: '.input-group-addon', // 图标存放容器
            placement: 'bottomRight',  // 图标容器位置
        });
		
		var val=$('.icp-auto').val(),i_class;
		if(val.match(/^fa-/)){
			i_class='fa '+val;   
		}else if(val.match(/^glyphicon-/)){
			i_class='glyphicon '+val;
		}else {
			i_class='layui-icon '+val;
		}
		$('.input-group-addon').find('i').attr('class',i_class);
		
    }

    // lay 字体图标
    if($('.lay-icon').length>0){
        layui.config({
            base: '/static/layui/lay/' // 相对于当前文件的目录
        }).extend({
            iconPicker: '/modules/iconPicker'
        }).use(['iconPicker'], function () {
            var iconPicker = layui.iconPicker,
                form = layui.form;

            $('.lay-icon').each(function (i,e) {
                iconPicker.render({
                    // 选择器，推荐使用input
                    elem: $(this),
                    // 标题
                    title:true,
                    // 数据类型：fontClass/unicode，推荐使用fontClass
                    type: 'fontClass',
                    // 是否开启搜索：true/false
                    search: true,
                    // 是否开启分页
                    page: true,
                    // 每页显示数量，默认12
                    limit: 30,
                    // 点击回调
                    click: function (data) {
                        console.log(data);
                    }
                });
            });
        });
    }

    // 自动上传文件、图片，如果上传多张需要对上传后样式适当调整，这里只做简单处理
    var  app_debug="{:config('app_debug')}";
    var auto_uplaod_num=$('.auto_upload').length;
    var click_uplaod_num=$('#click_upload').length;
    var form_upload_option={},form_upload_config="{:url('plugin/FieldUpfile/getConfig')}";
    if((auto_uplaod_num>0) || (click_uplaod_num>0))
    {
        form_upload_option=getConfig(form_upload_config,app_debug);

        var option_num=Object.keys(form_upload_option).length,auto_option={},click_option={};

        // 点击按钮上传,一个页面只能有一个
        if((click_uplaod_num>0) && (option_num>=2)){
            upfile('#click_upload', form_upload_option)// 上传本地
        }

        // 自动上传
        if((auto_uplaod_num>0) && (option_num>=2)){
            form_upload_option.auto_up=true;
            form_upload_option.file_num_limit=1;
            $('.auto_upload').each(function(i,e){
                upfile($(this),form_upload_option);
            });
        };

        // 修改图片时，点击看大图
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.photos({
                photos: '.imgWrap'
                ,anim: 5//0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
            });
        });
    }

    // 自动上传单个文件 --- 修改，删除上传文件
    if( $('.exit_auto_up').length>0){
        $('.exit_auto_up li').each(function(i,e){
            var $btns=$(this).find('.file-panel');
            $(this).on( 'mouseenter', function() {
                $btns.stop().animate({height: 30});
            });
            $(this).on( 'mouseleave', function() {
                $btns.stop().animate({height: 0});
            });
            var _this=$(this);
            var img_src=$(this).find('img').attr('src').substr(1);
            $btns.find('span.cancel').click(function(){
                // 删除服务文件
                deleteServerFile(img_src,form_upload_option.del_file_url);
                // 添加上传文件框
                _this.closest('.queueList').append("<div class=\"placeholder\">\n" +
                    "<div class=\"filePicker\"></div>\n" +
                    "</div>");
                var up_but=_this.closest('.auto_upload');

                // 删除当前元素
                _this.remove();
                // 初始化按钮
                var option={};
                option=getConfig(form_upload_config,app_debug);
                option.auto_up=true;
                option.file_num_limit=1;
                upfile(up_but,option);
            });
        });
    }

    // 上传组图 ----- 删除操作
    if($('.exit_click_up').length>0){
        $('.exit_click_up li').each(function(i,e){
            var $btns=$(this).find('.file-panel');
            $(this).on( 'mouseenter', function() {
                $btns.stop().animate({height: 30});
            });
            $(this).on( 'mouseleave', function() {
                $btns.stop().animate({height: 0});
            });
            var _this=$(this);
            var img_src=$(this).find('img').attr('src').substr(1);
            $btns.find('span.cancel').click(function(){
                // 删除服务文件
                deleteServerFile(img_src,form_upload_option.del_file_url);
                // 删除当前元素
                _this.remove();
            });
        });
    }


</script>
