<!-- 表单验证插件 -->
{include file="common@vaildator" /}
<script type="text/javascript">
    // 弹层
    layui.use('layer', function(){
        let layer = layui.layer;
    });
    // 前端验证
    // 表单验证完提交表单
    // form_submit($('form'),"{:config('app_debug')}",true,true);
    // 判断是否ajax
    if("{:get_cas_config('ajax_submit')}"){
        // 提交表单---不验证表单
        $("form").on("submit",function(e){
            e.preventDefault();
            ajax_request($(this),"{:config('app_debug')}",true,true)
        });
    } 
</script>